<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>
    <form action="submit" method="post"> {% csrf_token %}
        <div align="center">
            <h1>login</h1>

            <label>Usuário</label>
            <input type="text" name="username">
            <label>Password</label>
            <input type="text" name="password">
            <button type="submit">Entrar</button>
        </div>
    </form>
    {% for message in messages %}
        <div align="center">
          <strong>Error </strong>{{ message }}
        </div>
    {% endfor %}

</body>
</html>